###########################################################################
#
#                            LaMMA - Valerio Capecchi
#
# Author  : Valerio Capecchi <capecchi@lamma.rete.toscana.it>
# Date    : 2015-03-17
# UpDate  : 
# Purpose : Parameters settings for csv2little_r
#
###########################################################################

## Global Variables
# Local parameters
ROOTDIR='ROOTTOBEDET'
SRCDIR=$ROOTDIR'/src'
LOGDIR=$ROOTDIR'/log'
DATDIR=$ROOTDIR'/data'
WRKDIR=$ROOTDIR'/wrkg'
fout='LITTLE_R.output'

## Fortran options
FC=gfortran

